<div class="header">
    <div class="leftTopBg">左上角的背景</div>
    <div class="searchContainer hidden" id="searchContainer">
        <input type="text" placeholder="库内搜索：e.g 织锦" id="searchContent" class="content">
        <button class="btn" id="search">按钮</button>
    </div>
    <h1 class="logo">
        <a href="./">花瑶花数据库</a>
    </h1>
    <ul class="menu" id="menu">
        <li>
            <a data-page-name="database" href="search">
                <span class="title">花瑶花库</span><br>
                <span class="subTitle">LIBRARY</span>
            </a>
        </li>
        <li>
            <a data-page-name="about"  href="about">
                <span class="title">关于花瑶花</span><br>
                <span class="subTitle">ABOUT</span>
            </a>
        </li>
    </ul>
</div>