<!DOCTYPE html>
<html>
<head>
    {% include "frontend/head.html" %}
    <link type="text/css" href="static/frontend/css/lib/jquery.toastmessage.css" rel="stylesheet">
    <link type="text/css" href="static/frontend/css/lib/flexslider.css" rel="stylesheet">
    <link type="text/css" href="static/frontend/css/src/main.css" rel="stylesheet">
    <script>
        var pageName="about";
    </script>
</head>
<body>
<script type="text/template" id="tyPhotoTpl">
    {@each results as r}
    <li  data-name="${r.name}" data-intro="${r.intro}">
        <img src="${r.url}" />
    </li>
    {@/each}
</script>
<div class="wrapper">

    <div class="header"  style="height:46px;">
        <div class="leftTopBg">左上角的背景</div>
        <a class="link" href="about" style="position: absolute;right:10%;top:20px;">返回</a>
    </div>

    <div class="main main1">
        <div class="content" style="padding-bottom: 40px;">
            <div class="navTip">
                <span class="item"><a href="about" style="color: #a9a9a9">关于花瑶花</a></span>
                <span class="item">&gt;</span>
                <span class=" item current">花瑶花图库</span>
            </div>

            <div class="tyPhotoDetail" id="tyPhotoDetail">
                <img src="{{images[0]['url']}}">
                <div class="info">
                    <p class="content">{{images[0]['name']}}<br>{{images[0]['intro']}}</p>
                    <span class="showMore up">^</span>
                </div>
                <p class="page"><span id="currentPage">1</span>&nbsp;/&nbsp;{{count}}</p>
            </div>
            <div class="tyPhotos" id="tyPhotos">
                <span data-direction="up" class="nav nav1 ">向上</span>
                <ul class="list">
                    {% for i in images %}
                    <li data-name="{{i.name}}" data-intro="{{i.intro}}">
                        <img  src="{{i.url}}" />
                    </li>
                    {% endfor %}
                </ul>
                <span data-direction="down" class="nav nav2 hidden">向下</span>
            </div>
        </div>
    </div>

    {% include "frontend/footer.html" %}
</div>
<script src="static/frontend/js/lib/jquery-1.11.1.min.js"></script>
<script src="static/frontend/js/lib/jquery.toastmessage.js"></script>
<script src="static/frontend/js/lib/juicer-min.js"></script>
<script src="static/frontend/js/src/config.js"></script>
<script src="static/frontend/js/src/functions.js"></script>
<script src="static/frontend/js/src/images.js"></script>
</body>
</html>