<!DOCTYPE html>
<html>
<head>
    {% include "frontend/head.html" %}
    <link type="text/css" href="static/frontend/css/lib/flexslider.css" rel="stylesheet">
    <link type="text/css" href="static/frontend/css/src/main.css" rel="stylesheet">
    <script>
        var pageName="database";
        var id="{{fixture.id}}";
    </script>
</head>
<body>
<div class="wrapper">
    <script type="text/template" id="patternNameTpl">
        {@each patterns as r}
        <li class="item">${r.name}</li>
        {@/each}
    </script>
    <script type="text/template" id="patternsTpl">
        {@each patterns as r}
        <li class="item">
            <a href="patterns/${r.id}">
                <img class="thumb" src="${r.profile}">
                <p class="title">${r.name}</p>
            </a>
        </li>
        {@/each}
    </script>

    {% include "frontend/header.html" %}

    <div class="main">
        <div class="content single">
            <div class="navTip">
                <!--<span class="item">关于花瑶花</span>
                <span class="item">&gt;</span>
                <span class=" item current">花瑶花图库</span>-->
            </div>
            <div class="detail">
                <div id="slider" class="flexslider">
                    <ul class="slides">
                        {% for fa in fixture.assets %}
                        <li>
                            <img src="{{fa.profile_file}}" />
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="carousel" class="flexslider flex-carousel">
                    <ul class="slides">
                        {% for fa in fixture.assets %}
                        <li>
                            <img src="{{fa.profile_file}}" />
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="patternsContainer">
                    <h3>主要图纹</h3>
                    <ul class="list3" id="patterns">


                    </ul>
                </div>
                {% if related_fixtures %}
                <div class="resourceContainer">
                    <h3>相关资源</h3>
                    <div id="carousel1" class="flexslider flex-carousel">
                        <ul class="slides">
                            {% for rf in related_fixtures %}
                            <li>
                                <a href="fixtures/{{rf.id}}">
                                    <img src="{{rf.assets[0].profile_file}}" />
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="aside">
                <h3 class="title">{{fixture.name}}</h3>
                <span class="downloadCount">{{fixture.download_times}}</span>
                <p class="description">{{fixture.intro}}</p>
                {% set tags=fixture.tags %}
                <div class="info">
                    <h3>素材档案</h3>
                    <div class="row row2">
                        <h3 class="title">种类</h3>
                        <ul class="list">
                            {% for t in tags %}
                            {% if t.category=="1" %}
                            <li class="item">{{t.name}}</li>
                            {%  endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="row row2">
                        <h3 class="title">色彩</h3>
                        <ul class="list">
                            {% for t in tags %}
                            {% if t.category=="2" %}
                            <li class="item">{{t.name}}</li>
                            {%  endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="row row2">
                        <h3 class="title">构图</h3>
                        <ul class="list">
                            {% for t in tags %}
                            {% if t.category=="3" %}
                            <li class="item">{{t.name}}</li>
                            {%  endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="row row2">
                        <h3 class="title">功能</h3>
                        <ul class="list">
                            {% for t in tags %}
                            {% if t.category=="4" %}
                            <li class="item">{{t.name}}</li>
                            {%  endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="row row2">
                        <h3 class="title">图文</h3>
                        <ul class="list" id="patternNames">

                        </ul>
                    </div>
                    <div class="row row2">
                        <h3 class="title">尺寸</h3>
                        <ul class="list">
                            <li class="item">{{fixture.size}}</li>
                        </ul>
                    </div>
                    <div class="row row2">
                        <h3 class="title">年份</h3>
                        <ul class="list">
                            <li class="item">{{fixture.year}}</li>
                        </ul>
                    </div>
                    <div class="row row2">
                        <h3 class="title">作者</h3>
                        <ul class="list">
                            <li class="item">{{fixture.author}}</li>
                        </ul>
                    </div>
                    <div class="row row2">
                        <h3 class="title">采集地</h3>
                        <ul class="list">
                            <li class="item">{{fixture.origin_place}}</li>
                        </ul>
                    </div>
                    <div class="row row2">
                        <h3 class="title">格式</h3>
                        <ul class="list">
                            {% for t in tags %}
                            {% if t.category=="5" %}
                            <li class="item">{{t.name}}</li>
                            {%  endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <a class="link" target="_blank" href="fixtures/{{fixture.id}}/download">下载</a>
                </div>
            </div>
        </div>
    </div>


    {% include "frontend/footer.html" %}
</div>
<script src="static/frontend/js/lib/jquery-1.11.1.min.js"></script>
<script src="static/frontend/js/lib/jquery.flexslider-min.js"></script>
<script src="static/frontend/js/lib/juicer-min.js"></script>
<script src="static/frontend/js/src/config.js"></script>
<script src="static/frontend/js/src/functions.js"></script>
<script src="static/frontend/js/src/single.js"></script>
</body>
</html>