<!DOCTYPE html>
<html>
<head>
    {% include "backend/head.html" %}
    <link href="static/backend/css/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/backend/css/lib/jquery.toastmessage.css" rel="stylesheet" type="text/css">
    <link href="static/backend/css/src/zyup.css" rel="stylesheet" type="text/css">
    <link href="static/backend/css/src/main.css" rel="stylesheet" type="text/css">
    <script src="static/backend/js/lib/jquery-1.11.1.min.js"></script>
    <script src="static/backend/js/lib/bootstrap.min.js"></script>
    <script src="static/backend/js/lib/jquery.toastmessage.js"></script>
    <script src="static/backend/js/lib/jquery.serialize-object.min.js"></script>
    <script src="static/backend/js/lib/juicer-min.js"></script>
    <script src="static/backend/js/lib/plupload.full.min.js"></script>
    <script src="static/backend/js/lib/qiniu.js"></script>
    <script src="static/backend/js/src/config.js"></script>
    <script src="static/backend/js/src/functions.js"></script>
    <script src="static/backend/js/src/itemUpdate.js"></script>
    <script>
        var itemId='{{fixture.id}}';
    </script>
</head>
<body>


<!-- 上传完成的html模版-->
<script type="text/template" id="zyupMediaItemTpl">
    <li class="zyupMediaItem" data-media-id='${mediaId}'
        draggable="true">
        <img class="zyupSmallThumb" src="${thumbSrc}">
        <span class="zyupMediaFilename">${filename}</span>
        <span class="zyupDelete zyupHidden"></span>
    </li>
</script>

<script type="text/template" id="previewTpl">
    <div class="left">
        <ul class="smallImages">
            {@each assets as a}
            <li><a><img src="${a.media_file}"></a></li>
            {@/each}
        </ul>
        <p>标题：${title}</p>
        <p>作者：${author}</p>
        <p>尺寸：${size}</p>
        <label>设计说明</label>
        <p>${explain}</p>
        <a class="download" href="${attachment_file}" target="_self">附件下载</a>
    </div>
    <div class="right">
        <img src="${preview}">
        <br>
        <label>设计分析</label>
        <p>${analysis}</p>
    </div>

</script>



{% include "backend/header.html" %}

<nav class="left">

    {% include "backend/menu.html" %}

</nav>

<section class="right">
    <article class="main">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">添加素材</h1>
            </div>
            <div class="panel-body" id="opt-body">

                <div class="zyupScreen">
                    <div class="zyupTab" id="zyupTab">
                        <ol>
                            <li><a href="#zyupStep1" class="zyupStep zyupStepCurrent">1. 填写基本信息</a></li>
                            <li><a href="#zyupStep2" class="zyupStep ">2. 上传</a></li>
                            <li><a href="#zyupStep3" class="zyupStep">3. 预览并提交</a></li>
                        </ol>
                    </div>
                    {% if fixture.id %}
                    <form class="zyupForm" method="post" action="admin/fixtures/{{fixture.id}}/update" id="zyupForm">
                    {% else %}
                    <form class="zyupForm" method="post" action="admin/fixtures/create" id="zyupForm">
                    {% endif %}
                        <div class="zyupStepPanel zyupStepPanel1" id="zyupStep1">
                            <div class="zyupField">
                                <label for="zyupTitleInput">标题*</label>
                                <input type="text"  maxlength="80" value="{{fixture.name}}" class="zyupInputGray"
                                       name="name" id="zyupTitleInput">
                            </div>
                            <div class="zyupField">
                                <label for="zyupTitleInput">尺寸*</label>
                                <p class="zyupTip">例如：1600x400，单位默认mm。</p>
                                <input type="text"  maxlength="80" value="{{fixture.size}}" class="zyupInputGray"
                                       name="size" id="zyupTitleInput">
                            </div>
                            <div class="zyupField">
                                <label for="zyupTitleInput">作者*</label>
                                <input type="text"  maxlength="80" value="{{fixture.author}}" class="zyupInputGray"
                                       name="author" id="zyupTitleInput">
                            </div>
                            <div class="zyupField">
                                <label for="zyupTitleInput">采集地*</label>
                                <input type="text"  maxlength="120" value="{{fixture.origin_place}}" class="zyupInputGray"
                                       name="origin_place" id="zyupTitleInput">
                            </div>
                            <div class="zyupField">
                                <label for="zyupTitleInput">年份*</label>
                                <input type="text"  maxlength="80" value="{{fixture.year}}" class="zyupInputGray"
                                       name="year" id="zyupTitleInput">
                            </div>
                            <div class="zyupField">
                                <label for="zyupDescriptionTxt">说明*</label>
                                <textarea class="zyupInputGray" name="intro" id="zyupDescriptionTxt"
                                          placeholder="">{{fixture.intro}}</textarea>
                            </div>
                            {% set categories=tags_by_category %}
                            {% set sCategories=fixture.tags|map(attribute="id")|list %}
                            <div class="zyupField">
                                <label for="zyupTitleInput">种类*</label>
                                <p class="zyupTip">按住ctrl键多选。</p>
                                <select  class="categories zyupInputGray" style="height:100px;" multiple>
                                    {% for t in categories["1"] %}
                                        {% if t.id in sCategories %}
                                        <option selected value="{{t.id}}">{{t.name}}</option>
                                        {% else %}
                                        <option value="{{t.id}}">{{t.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>


                            <div class="zyupField">
                                <label for="zyupTitleInput">色彩*</label>
                                <p class="zyupTip">按住ctrl键多选。</p>
                                <select  class="categories zyupInputGray" style="height:100px;" multiple>
                                    {% for t in categories["2"] %}
                                    {% if t.id in sCategories %}
                                    <option selected value="{{t.id}}">{{t.name}}</option>
                                    {% else %}
                                    <option value="{{t.id}}">{{t.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="zyupField">
                                <label for="zyupTitleInput">构图*</label>
                                <p class="zyupTip">按住ctrl键多选。</p>
                                <select class="categories zyupInputGray" style="height:100px;" multiple>
                                    {% for t in categories["3"] %}
                                    {% if t.id in sCategories %}
                                    <option selected value="{{t.id}}">{{t.name}}</option>
                                    {% else %}
                                    <option value="{{t.id}}">{{t.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="zyupField">
                                <label for="zyupTitleInput">功能*</label>
                                <p class="zyupTip">按住ctrl键多选。</p>
                                <select class="categories zyupInputGray" style="height:100px;" multiple>
                                    {% for t in categories["4"] %}
                                    {% if t.id in sCategories %}
                                    <option selected value="{{t.id}}">{{t.name}}</option>
                                    {% else %}
                                    <option value="{{t.id}}">{{t.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="zyupField">
                                <label for="zyupTitleInput">格式*</label>
                                <p class="zyupTip">按住ctrl键多选。</p>
                                <select class="categories zyupInputGray" style="height:100px;" multiple>
                                    {% for t in categories["5"] %}
                                    {% if t.id in sCategories %}
                                    <option selected value="{{t.id}}">{{t.name}}</option>
                                    {% else %}
                                    <option value="{{t.id}}">{{t.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="zyupRight">
                                <div class="zyupThumbContainer" id="zyupThumbContainer">
                                    <a href="#" class="zyupButton" id="zyupThumbUploadBtn">上传缩略图</a>
                                    <span class="zyupTip">300px宽，高最少280px的jpg或png图像。</span>
                                    {% if fixture.profile %}
                                    <img class="zyupThumb" id="zyupThumb" width="300" height="auto"
                                         src="{{fixture.profile.url}}"/>
                                    <input type="hidden" value="{{fixture.profile.url}}"
                                           id="zyupThumbUrl">
                                    <input type="hidden" id="zyupThumbWidth" value="{{fixture.profile.width}}">
                                    <input type="hidden" id="zyupThumbHeight" value="{{fixture.profile.height}}">
                                    {% else %}
                                    <img class="zyupThumb" id="zyupThumb" width="300" height="200"
                                         src="static/backend/images/zyup/zyupDefaultThumb.png"/>
                                    <input type="hidden" value=""
                                           id="zyupThumbUrl">
                                    <input type="hidden" id="zyupThumbWidth" value="300">
                                    <input type="hidden" id="zyupThumbHeight" value="">
                                    {% endif %}

                                </div>
                                <br>
                                <div class="zyupThumbContainer" id="zyupCoverContainer">
                                    <a href="#" class="zyupButton" id="zyupCoverUploadBtn">上传大图</a>
                                    <span class="zyupTip">1280x720的jpg或png图像。</span>
                                    {% if fixture.cover %}
                                    <img class="zyupThumb" id="zyupThumb" width="300" height="200"
                                         src="{{fixture.cover}}"/>
                                    {% else %}
                                    <img class="zyupThumb" id="zyupCover" width="300" height="200"
                                         src="static/backend/images/zyup/zyupDefaultThumb.png"/>
                                    {% endif %}
                                    <input type="hidden" value="{{fixture.cover}}"
                                           id="zyupCoverUrl" name="cover">
                                </div>
                                <br>
                                <div id="zyupFileContainer">
                                    <a href="#" class="zyupButton" id="zyupFileUploadBtn">上传附件</a>
                                    <span class="zyupTip">*zip文件</span>
                                    <br>
                                    <span id="zyupFilename" class="zyupUnUploaded">
                                        {{fixture.attachment.name if fixture.attachment else ""}}</span>
                                    <input type="hidden"
                                           value="{{fixture.attachment.name if fixture.attachment else ''}}"
                                           id="zyupFilenameValue">
                                    <input type="hidden"
                                           value="{{fixture.attachment.url if fixture.attachment else ''}}"
                                           id="zyupFileUrl">
                                </div>
                            </div>
                        </div>

                        <!-- step 2-->
                        <div class="zyupStepPanel zyupStepPanel2 zyupHidden" id="zyupStep2">
                            <div class="zyupColumn zyupColumnLeft" id="zyupUploadImageContainer">
                                <span class="zyupColumnLeftHeader" id="zyupUploadImage">上传图片</span>

                                <ol id="zyupMediaList" class="zyupMediaList">
                                    {% for as in fixture.assets %}
                                    <li class="zyupMediaItem" data-media-id='{{as.media_id}}'
                                        draggable="true">
                                        <img class="zyupSmallThumb" src="{{as.profile_file}}">
                                        <span title='{{as.profile_filename}}' class="zyupMediaFilename">{{as.profile_filename}}</span>
                                        <span class="zyupDelete"></span>
                                    </li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <div class="zyupColumn zyupColumnRight" id="zyupColumnRight">
                                <header class="zyupColumnRightHeader">
                                    <p><b id="zyupCurrentType">设置</b></p>
                                </header>
                                <article class="zyupContent zyupHidden" id="zyupContent">
                                    <section class="zyupColumn50">
                                        <section id="zyupLeftBottom">
                                            <div class="zyupToolbar" id="zyupMediaThumbUploadContainer">
                                                <label class="zyupSectionHeading">缩略图</label>
                                                <input type="button" id="zyupMediaThumbUploadButton"
                                                       class="zyupButton zyupUpdateThumbnail" value="更换">

                                                <div class="zyupTooltips">限2M以内的jpg或png</div>
                                            </div>
                                            <img src="static/backend/images/zyup/zyupDefaultThumb.png"
                                                 id="zyupMediaThumb" class="zyupMediaThumb">
                                        </section>
                                    </section>
                                    <section id="zyupRight" class="zyupColumn50">
                                        <section>
                                            <label class="zyupSectionHeading">图纹<span
                                                    class="zyupTooltips">(可选)</span></label>
                                            <select class="zyupInputText" id="zyupMediaRelated">
                                                <option  value="">无</option>
                                                {% set sPatterns=fixture.patterns|map(attribute="id")|list %}
                                                {% for p in patterns %}
                                                {% if p.id in sPatterns %}
                                                <option selected value="{{p.id}}">{{p.name}}</option>
                                                {% else %}
                                                <option value="{{p.id}}">{{p.name}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </section>
                                        <!--<section class="zyupBindFileContainer">
                                            <label class="zyupSectionHeading">绑定媒体文件<span class="zyupTooltips">(可选)</span></label>
                                            <span class="zyupButton zyupBindFile" id="zyupBindFile">添加文件</span>
                                            &lt;!&ndash;媒体文件类型的menu&ndash;&gt;
                                    <ul id="zyupAddMediaMenu" class="zyupAddMediaMenu">
                                        <li><a id="zyupUploadMp4" class="zyupTypes1 zyupTypes">视频（MP4）</a></li>
                                        <li><a id="zyupUpload3D" class="zyupTypes2 zyupTypes">3D环境（ZIP）</a></li>
                                    </ul>
                                    <div class="zyupBindFileInfo zyupHidden" id="zyupBindFileInfo">
                                                    <span class="zyupBindFileName" title="文件名" id="zyupBindFileName">
                                                        文件名文件名文件名文件名文件名文件名文件名文件名文件名文件名文件名文件名
                                                    </span>
                                        <span class="zyupDeleteBindFile" id="zyupDeleteBindFile">删除</span>
                                    </div>
                                </section>-->
                                        <section>
                                            <label class="zyupSectionHeading">标题<span
                                                    class="zyupTooltips">(可选)</span></label>
                                            <input maxlength="80" type="text" id="zyupMediaTitle" class="zyupInputText">
                                        </section>
                                        <section>
                                            <label class="zyupSectionHeading">描述<span
                                                    class="zyupTooltips">(可选)</span></label>
                                            <textarea class="zyupTextareaInput" id="zyupMediaMemo"></textarea>
                                        </section>
                                    </section>
                                </article>
                            </div>
                        </div>

                        <!-- step 3-->
                        <div class="zyupStepPanel zyupStepPanel3 zyupHidden" id="zyupStep3">
                            <input type="submit" autocomplete="default" value="提交" class="zyupFormSubmitBtn"
                                   name="zyupFormSubmitBtn" id="zyupFormSubmitBtn"/>
                            <div id="zyupPreview" class="zyupPreview">
                                <!-- 模板内容加载区 -->
                                <!--<div class="left">
                                    <ul class="smallImages">
                                        <li><a href=""><img src="data/600x400/1.jpg"></a></li>
                                        <li><a href=""><img src="data/600x400/2.jpg"></a></li>
                                        <li><a href=""><img src="data/600x400/3.jpg"></a></li>
                                        <li><a href=""><img src="data/600x400/4.jpg"></a></li>
                                    </ul>
                                    <p>标题：xxx</p>
                                    <p>作者：xxxx</p>
                                    <label>设计说明</label>
                                    <p>xxxxx</p>
                                    <a class="download" href="xxxxx" target="_self">附件下载</a>
                                </div>
                                <div class="right">
                                    <img src="data/600x400/1.jpg">
                                    <br>
                                    <label>设计分析</label>
                                    <p>xxxx</p>
                                </div>-->
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </article>
</section>

{% include "backend/loading.html" %}

</body>
</html>